    <div class="container-flex" style="font-family: 'Noto Sans TC', sans-serif;">
  <!--頭版區-->
  <div class="row bg-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-1"></div>
        <div class="col-10 text-center "  style=" margin-top: 60px;">
          <img src="https://fierce-caverns-10904.herokuapp.com/image/team.png" class="w-100 h-100" alt="" srcset="">

        </div>
        <div class="col-1"></div>
      </div>
    </div>

  </div>
  <!--成員介紹區-->
  <div class="row bg-light py-5 my-5">
    <div class="container">
      <div class="row mt-5 ">

        <div class="col-2"></div>
        <div class="col-8">
          <div class="row ">
            <div class="text-center w-100">
              <h5>團隊介紹區</h5>
              <hr>
            </div>

            <div class="co1-12 my-2">
              <!---成員介紹卡片-->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <img class="w-100 h-100 p-2" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="" srcset="">
                    </div>
                    <div class="col-8">
                      <div class="title">
                        <span>
                          Alex
                        </span>
                        <span class="float-right">前端工程師</span>
                      </div>
                      <hr>
                      <div class="descripting">
                        <p>專案中無時無刻，在跟切版奮鬥！！ 天公伯啊～～ 什麼時候專案結束</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="co1-12 my-2">
              <!---成員介紹卡片-->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <img class="w-100 h-100 p-2" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="" srcset="">
                    </div>
                    <div class="col-8">
                      <div class="title">
                        <span>
                          Water
                        </span>
                        <span class="float-right">後端工程師</span>
                      </div>
                      <hr>
                      <div class="descripting">
                        <p>各種功能交給我開發！！還差一點點就完成了～～～～</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="co1-12 my-2">
              <!---成員介紹卡片-->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <img class="w-100 h-100 p-2" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="" srcset="">
                    </div>
                    <div class="col-8">
                      <div class="title">
                        <span>
                          Ｊane
                        </span>
                        <span class="float-right">專案經理</span>
                      </div>
                      <hr>
                      <div class="descripting">
                        <p>團隊中的ＰＭ就像老媽子，管東管西，不過跟大家一起做專案的感覺超好！！</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>
        <div class="col-2"></div>
      </div>

    </div>
  </div>
</div>