    <div class="container-flex">
  <!--專案區-->
  <div class="row bg-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-1"></div>
        <div class="col-10 text-center " style=" border-top-width: 50px; padding-top: 50px; ">
          <h2>專案區</h2>

          <hr>
          <span class="badge badge-secondary">
            <h5>社群類</h5>
          </span>
          <span class="badge badge-secondary">
            <h5>程式纇</h5>
          </span>
          <span class="badge badge-secondary">
            <h5>其他類</h5>
          </span>

        </div>
        <div class="col-1"></div>
      </div>
    </div>

  </div>
  <!--專案區-->
  <div class="row bg-light">
    <div class="container my-5">
      <div class="row ">
        <!--專案卡片區-->
        <div class="col-4 text-center my-1">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">社群專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <!--專案卡片區-->
        <div class="col-4 text-center my-1">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">社群專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4 text-center my-1">
          <div class="card" style="width: 18rem;">
            <img class="card-img-left w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">電商專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div><p>
        </div>
		  
        <div class="col-4 text-center  my-1">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">打卡專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<!--專案區-->

</div>
