    <div class="container-flex" style="font-family: 'Noto Sans TC', sans-serif;">
  <!--個人卡片區-->
  <div class="row bg-white">
    <div class="container my-5">
      <div class="row " style=" margin-top: 65px; ">

        <div class="col-12 " style="height: 300px;">
          <!---個人卡片-->
            <div class="card">
              <div class="card-body">
                <div class="row" >
                  <div class="col-4">
                    <img class="w-100 h-100 p-2" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="" srcset="">
                  </div>
                  <div class="col-8">
                    <div class="title">
                      <span>
                        Water
                      </span>
                      <span class="float-right">後端工程師</span>
                    </div>
                    <hr>
                    <div class="descripting">
                      <p>每天在跟資料奮鬥的後端工程師，最喜歡邊上班邊吃點心，偶而玩個Switch,一週最開心的時候就是禮拜五倒數一小時班，擅長Express，Ｌaravel 等框架，偶而也會寫個爬蟲抓抓個最新股價賺外快．
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>

  </div>
  <!--技能區-->
  <div class="row bg-light">
    <div class="container my-5">
      <div class="row ">
        <div class="text-center w-100">
          <h5>個人技能</h5>
          <hr>
        </div>
        <div class="col-4 ">
          <div class="card">
            <div class="card-header text-center  ">
              前端技能</div>
            <div class="card-body">
              <ul>
                <li>Ｂoostrapt</li>
                <li>vue.js</li>
                <li>D3.js</li>
                
              </ul>
            </div>
          </div>



        </div>
        <div class="col-4 ">
          <div class="card">
            
            <div class="card-header text-center">
              後端技能</div>
            <div class="card-body">
              <ul>
                <li>Express</li>
                <li>Laravel</li>
                <li>Docker</li>
                
              </ul>
            </div>
          </div>



        </div>
        <div class="col-4 ">
          <div class="card">
            
            <div class="card-header text-center">
              行銷技能</div>
            <div class="card-body">
              <ul>
                <li>google廣告操作</li>
                <li>LINE@經營輔導</li>
                <li>ＦＢ廣吿操作</li>
                
              </ul>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
  <!--專案區-->
  <div class="row bg-whit">
    <div class="container my-5">
      <div class="row ">
        <div class="text-center w-100">
          <h5>個人專案</h5>
          <hr>
        </div>
        <!--專案卡片區-->
        <div class="col-4 text-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">社群專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-left w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">電商專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100" src="https://fierce-caverns-10904.herokuapp.com/image/index1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">打卡專案</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row bg-light">
    <div class="container my-5">
      <div class="row ">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <h4>stay foolish stay hungry</h4>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

  </div>
</div>
</div>